<div class="w3-btn w3-grey w3-circle" id="openCartbar" onclick="openCartBar('#cartbar')" style="width: 50px; height: 50px;">
    <div class="fas fa-shopping-cart w3-center" style="margin-top: 10px;"></div>
</div>

<div id="cartbar" class="w3-margin w3-hide w3-animate-right w3-white" style="max-width: 30%;">

	<!--item-->
<div class="w3-container w3-border" style="padding-left: 0px;">
	<div class="cart-grid" id="cart-panel">
    </div>
</div>
    <!--Checkout Button-->
    <a href="payment.html" class="w3-button w3-mobile w3-margin-top w3-border w3-border-green" style="position: relative; width: 100%;">Check Out</a>

    <!--Close Button-->
    <a href="#" class="w3-button w3-mobile w3-margin-top w3-border w3-border-red"
        onclick="closeCartBar('#cartbar')" style="position: relative; width: 100%;">
        <i class="fas fa-times"></i> Close</a>
</div>
