<div class="w3-btn w3-grey w3-circle w3-hide-medium w3-hide-large" id="openFilterbar" onclick="openFilterBar('#filterbar')" style="width: 50px; height: 50px;">
    <div class="fas fa-filter w3-center" style="margin-top: 10px;"></div>
</div>

<div id="filterbar" class="list-group w3-margin w3-hide-small w3-animate-left w3-white">
    

    <!--Price-->
    <button onclick="myFunction('price')" class="w3-btn w3-block w3-left-align w3-border">Price <i class='fas fa-sort' style="float:right; padding-top: 5px;"></i></button>
    
    <div id="price" class="w3-container w3-hide w3-border-right w3-border-left w3-border-bottom w3-padding">
 
    <div class="boxes">
        <input type="checkbox" id="box-1" onchange="filterByPrice(this, param => param < 100)">
        <label for="box-1" >&lt; RM100</label>

        <input type="checkbox" id="box-2" onchange="filterByPrice(this, param => (param >= 100 && param <= 200))">
        <label for="box-2"> RM100-RM200 </label>

        <input type="checkbox" id="box-3" onchange="filterByPrice(this, param => param > 100)">
        <label for="box-3">&gt; RM200</label>
    </div>
    </div>

    <!--Color-->
    <button onclick="myFunction('color')" class="w3-btn w3-block w3-left-align w3-border w3-margin-top">Color <i class='fas fa-sort' style="float:right; padding-top: 5px;"></i></button>
    
    <div id="color" class="w3-container w3-hide w3-border-right w3-border-left w3-border-bottom w3-padding">
 
    <div class="boxes">
        <input type="checkbox" id="box-4">
        <label for="box-4">Red</label>

        <input type="checkbox" id="box-5">
        <label for="box-5">White</label>

        <input type="checkbox" id="box-6">
        <label for="box-6">Black</label>
    </div>
    </div>

    <!--Category-->
    <button onclick="myFunction('category')" class="w3-btn w3-block w3-left-align w3-border w3-margin-top">Category <i class='fas fa-sort' style="float:right; padding-top: 5px;"></i></button>
    
    <div id="category" class="w3-container w3-hide w3-border-right w3-border-left w3-border-bottom w3-padding">
 
    <div class="boxes">
        <input type="checkbox" id="box-7" onchange="filterByCat(this, 'Game')">
        <label for="box-7">Games</label>

        <input type="checkbox" id="box-8" onchange="filterByCat(this, 'Accessory')">
        <label for="box-8">Accessories</label>

        <input type="checkbox" id="box-9" onchange="filterByCat(this, 'Console')">
        <label for="box-9">Machines</label>
    </div>
    </div>

    <a href="#" class="w3-button w3-hide-medium w3-hide-large w3-mobile w3-margin-top w3-border w3-border-red"
        onclick="closeFilterBar('#filterbar')" style="position: relative;">
        <i class="fas fa-times"></i> Close
    </a>
</div>
