<div id="header" class="main-header">
    <div class="w3-center w3-padding">
        <img src="images/ionia5.jpg" alt="Ionia logo">
    </div>
    <div id="search-bar">
        <div class="w3-row w3-border">
            <input id="main-searchbar" type="text" name="search" placeholder="Search" class="w3-input w3-border-0 w3-col s10">
            <a class="w3-button w3-white w3-col s2" href="#" onclick="onSearch()"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <nav id="main-nav" class="w3-hide-small">
        <a class="w3-button w3-bottombar w3-mobile" href="main.html">
            <i class="fas fa-home"></i> Home
        </a>
        <a class="w3-button w3-bottombar w3-mobile" href="#" onclick="logout()">
            <i class="fas fa-sign-out-alt"></i> Signout
        </a>
    </nav>
    <a class="w3-button w3-hide-medium w3-hide-large w3-mobile"
        onclick="toggleNav(this)">
        <i class="fas fa-bars"></i>
    </a>
</div>