<div
    class="w3-card w3-margin w3-hover-opacity"
    style="width: 350px; position: relative; overflow: hidden"
    onclick="onCardClicked({1})"
>
    <div class="w3-white w3-small" style="padding: 5px;position: absolute; top: 0px; right: 0px;">
        Item left: {0}
    </div>
    <div class="w3-center">
        <img src="../../server/Image/{1}.jpg" style="height: 200px;">
    </div>
    <div class="w3-cell-row w3-padding">
        <div class="w3-cell">{2}</div>
        <div class="w3-cell w3-right-align">RM {3}</div>
    </div>
</div>