<div
    class="w3-sidebar w3-mobile w3-bar-block w3-border-right w3-hide-small w3-hide-medium"
    style="width: 250px; background-color: #f3f3f3; z-index: 99; overflow: auto;"
    id="main-sidebar"
>
    <div class="w3-container w3-blue" style="padding: 0px 5px; margin-bottom: 12px;">
        <div class="w3-section" id="greeting"></div>
    </div>
    <a href="#" class="w3-bar-item w3-button w3-hide-large" onclick="toggleSidebar()">
        <i class="fas fa-times"></i> Close
    </a>
    <div id="panels">
        <a href="./dashboard.html" class="w3-bar-item w3-button">Dashboard</a>
        <a
            href="#"
            class="w3-bar-item w3-button"
            onclick="toggleAccordions('#products-panel', '#open-products-panel')"
        >
            Products
            <i id="open-products-panel" class="fas fa-caret-down"></i>
        </a>
        <div class="accordion-container">
            <div id="products-panel" class="w3-block w3-hide accordion">
                <a href="./products.html?subcat=all" class="w3-button w3-bar-item">All Products</a>
                <a href="./products.html?subcat=game" class="w3-button w3-bar-item">Game</a>
                <a href="./products.html?subcat=console" class="w3-button w3-bar-item">Console</a>
                <a href="./products.html?subcat=accessory" class="w3-button w3-bar-item">Accessory</a>
                <a href="#" class="w3-button w3-bar-item w3-blue w3-margin-top" onclick="onAddClicked()">
                    <i class="fas fa-plus"></i> Add product
                </a>
            </div>
        </div>
    </div>
</div>

<div
    style="position: fixed; bottom: 15px; left: 15px; z-index: 98;"
    class="w3-hide-large"
    onclick="toggleSidebar()"
>
    <div class="w3-circle w3-blue w3-padding" style="height: 45px; width: 45px;">
        <i class="fas fa-home" style="margin-top: 7px; margin-left: -1px;"></i>
    </div>
</div>