#cartbar {
        position: fixed;
        top: 0px;
        right: 0px;
        width: auto;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px;
        margin: 0px !important;
    }

    #openCartbar {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }

.cart-grid {
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: repeat(auto,1fr);
    grid-auto-flow: row;
    grid-gap: 10px;
    align-items: center;
    }}


#cart-image{
    grid-column-start: 1;
    grid-column-end: 2;
}

#cart-desc{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-auto-flow: row;
}

#delete-item{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    height: 100%;
    cursor: pointer;
    background-color: white;
}