.main-header {
    background-color: #f7f7f7;
}

#main-nav a.w3-button {
    border-color: #f7f7f7 !important;
}

#main-nav a.w3-button:hover {
    border-color: black !important;
    background-color: #f7f7f7 !important;
}

@media only screen and (min-width: 992px) {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #main-nav a {
        margin-left: 16px;
        margin-right: 16px;
    }

    #search-bar {
        width: 350px;
    }
}