.main-header {
    background-color: #f7f7f7;
    z-index: 99;
}

#main-nav a.w3-button {
    border-color: #f7f7f7 !important;
}

#main-nav a.w3-button:hover {
    border-color: black !important;
    background-color: #f7f7f7 !important;
}

.dashbord-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accordion-container {
    overflow: hidden;
    padding-left: 15px;
}

.accordion {
    z-index: -1;
}

.form-input {
    height: 20pt;
}

.form-label {
    display: flex;
    overflow: hidden;
}

.form-label span {
    margin-left: auto;
}

@media only screen and (min-width: 992px) {
    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #main-nav a {
        margin-left: 16px;
        margin-right: 16px;
    }

    #search-bar {
        width: 350px;
    }

    #container {
        margin-left: 250px;
    }

    #container section {
        margin: 5px;
    }
}